@model Trn.Feature.Home.Models.Admission

@using (Html.BeginForm())
{
    <div class="mb-3">
        <label for="@Model.FirstName" class="form-label">First Name</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })

        @*<input type="text" class="form-control" id="@Model.UserName" placeholder="<<<give your name here...>>>">*@
    </div>
    <div class="mb-3">
        <label for="@Model.LastName" class="form-label">Last Name</label>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        @*<input type="email" class="form-control" id="@Model.UserEmailId" placeholder="<<<give your email id here... >>>">*@
    </div>
    <div class="mb-3">

        <label for="@Model.DateofBirth" class="form-label">Date of Birth</label>

       
            <input type="text" value="@Model.DateofBirth" class="form-control datepicker" placeholder="Select Date">

        @*<textarea class="form-control" id="@Model.UserComments" placeholder="<<<leave your comments here... >>>" rows="3"></textarea>*@
    </div>
    <div class="mb-3">
        <label for="@Model.Course" class="form-label">Course</label>
        @Html.TextBoxFor(x => x.Course, new { @class = "form-control" })
        @*<textarea class="form-control" id="@Model.UserComments" placeholder="<<<leave your comments here... >>>" rows="3"></textarea>*@
    </div>
    <div class="mb-3">
        <label for="@Model.PhoneNumber" class="form-label">Phone Number</label>
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
        @*<textarea class="form-control" id="@Model.UserComments" placeholder="<<<leave your comments here... >>>" rows="3"></textarea>*@
    </div>
    <div class="mb-3">
        <label for="@Model.EmailId" class="form-label">Email Id</label>
        @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control" })
        @*<textarea class="form-control" id="@Model.UserComments" placeholder="<<<leave your comments here... >>>" rows="3"></textarea>*@
    </div>
    <div class="mb-3">
        <label for="@Model.Address" class="form-label">Address</label>
        @Html.TextAreaFor(x => x.Address, new { @class = "form-control" })
        @*<textarea class="form-control" id="@Model.UserComments" placeholder="<<<leave your comments here... >>>" rows="3"></textarea>*@
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });
    });
</script>
