@model Trn.Feature.Home.Models.QuestionList
<h1>Queries Submitted</h1>
<div>
    @if (Model.questions != null)
    {
        foreach (var ques in Model.questions)
        {
            <h3>@ques.Question</h3><div class="col">

                @foreach (var ans in ques.Answers)
                {
                    if (ans.IsValidAnswer)
                    {
                        <div class="mb-3">
                            <h5>@ans.AnswerForQuestion</h5>
                            <input type="hidden" name="@ans.QuestionId" value="@ans.QuestionId" />
                        </div>
                    }
                    else
                    {
                        using (Html.BeginForm())
                        {
                            <div class="mb-3">
                                <input type="hidden" id="@ans.QuestionId" name="@ans.QuestionId" value="@ans.QuestionId" />
                                <label for="@ans.AnswerForQuestion" class="form-label">Your Answer</label>
                                @Html.TextBox(ans.AnswerForQuestion, new { @class = "form-control" })
                            </div>

                            <div>
                                <button type="submit" class="btn btn-outline-secondary">Submit your answer</button>
                            </div>
                        }

                    }

                }

            </div>
        }
    }
</div>
